table {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

th {
  background-color: #d7cccc;
  border-bottom: 1px solid black;
  font-size: 18px;
  font-weight: bolder;
}

tr:nth-child(even) {
  background-color: #d7cccc;
}

.App {
  text-align: center;
}

.App-header {
  height: 70px;
  padding-top: 60px;
  color: black;
}

.App-title {
  font-size: 1.5em;
  padding-top: 8px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  font-weight: bold;
}

.form {
  margin-right: 10px;
  border: 1px solid rgb(168, 166, 166);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  height: 26px;
  width: 18%;
}

.submit {
  background-color: rgb(246, 220, 159);
  border: 1px solid black;
  border-radius: 3px;
  height: 26px;
  width: 6%;
}

.submit:hover {
  background-color: rgb(255, 126, 46);
}
.submit:active {
  transform: scale(0.93);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Navbar */
nav {
  background-color: #2d2e36;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; /* Ensure the navbar appears above other content */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav ul li a:hover {
  color: #ca6cc6; /* Change color on hover */
}

.list {
  padding-top: 60px;
}
